.home-container {
    box-sizing: border-box;
    margin-left: 210px;
    flex-grow: 1;
    overflow-x: auto;
    height: 100%;
    overflow: hidden;

}

.suggestion-button-list {
    position: fixed;
    display: flex;
    width: 80%;
    align-items: center;
    overflow-x: auto;
    flex-flow: row;
    scrollbar-width: none;  /* For Firefox */
    -ms-overflow-style: none;
    margin: 5px 0 0 0;
}

.suggestion-button-list::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
  }

.suggestion-button  {
    display: flex;
    margin: 0px 10px 0 0;
    padding: 5px 15px 5px 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

.home-video-list{
    height: 100% ;
    margin: 30px 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;


}

.video-card {
    width: 350px;
    margin: 10px 20px 0px 0px;
    box-sizing: border-box;
}

.video-card > p,h{
    margin: 5px 3px 3px 3px;
}

.video-card > img {
    width: 100%;
    height: 200px;
    border-radius: 10px ;
}
