.header {
    display: flex;
    width: 100%;
    padding: 5px 10px 5px 20px;
    height: 3rem;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
}

.header-first {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;

}

.header-logo-img {
    width: 40px;
}

.header-menu-img {
    width: 20px;
    margin: 0 20px 0 0;

}

.header-search {
    align-items: center;
}

.header-search > input {
    height: 30px;
    width: 30vw;
   border-radius: 20px 0 0 20px;
   border: 1px solid #909090;
   margin: 0;
   box-sizing: border-box;
   padding: 3px 3px 3px 15px;

}

.header-search > button {
    height: 30px;
    width: 40px;
    border-radius: 0px 20px 20px 0px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #909090;
    margin: 0;
    box-sizing: border-box;

}

